/.DS_Store
/Cargo.lock
/c_api_tests/build
/c_build
/match_stats.csv
/out_comparison.txt
/sys/dav1d-sys/src/dav1d.rs
/sys/dav1d-sys/dav1d
/sys/libyuv-sys/src/libyuv.rs
/sys/libyuv-sys/libyuv
/target
/third_party/googletest
/third_party/libgav1
