name: Build and Run Tests (Experimental Features)
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

# Cancel the workflow if a new one is triggered from the same PR, branch, or tag, except on main.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build-and-run-tests-experimental-features:
    name: "Build and Run Tests on ${{ matrix.os }} (Experimental Features)"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      CC: clang
      CXX: clang++

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - uses: ./.github/actions/setup-deps

    - name: Build and run the Rust tests
      # TODO: Enable this for windows.
      if: runner.os != 'Windows'
      # Enable encoder and C API for better coverage.
      run: cargo test --features aom,capi -- --skip test_conformance
