name: Clippy
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

# Cancel the workflow if a new one is triggered from the same PR, branch, or tag, except on main.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  clippy:
    name: "Clippy"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - uses: ./.github/actions/setup-deps
    - run: cargo clippy --no-default-features
    - run: cargo clippy --no-default-features --features=capi
    - run: cargo clippy
    - run: cargo clippy --tests
    - run: cargo clippy --examples
    - run: cargo clippy --features aom
    - run: cargo clippy --features aom --tests
    - run: cargo clippy --features aom --examples
